@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

*{
    font-family: "DynaPuff", 'Times New Roman', Times, serif;
}

:root {
    --purple: #57305A;
    --blue: #2D90B8;
    --pink: #C7727B;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: rgb(225,225,204);
    background: linear-gradient(180deg, rgba(225,225,204,1) 0%, rgba(173,174,157,1) 100%);
    display: flex;
}

#board {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    font-size: 6rem;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    border-bottom: 5px solid var(--purple);
    border-right: 5px solid var(--purple);
}

.cell:nth-of-type(9), .cell:nth-of-type(8), .cell:nth-of-type(7) {
    border-bottom: none;
}

.cell:nth-of-type(3), .cell:nth-of-type(6), .cell:nth-of-type(9) {
    border-right: none;
}

.pink {
    color: var(--pink);
    -webkit-text-stroke: 4px var(--purple);
}

.blue {
    color: var(--blue);
    -webkit-text-stroke: 4px var(--purple);
}

.game-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1000px;
    height: 500px;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -500px;
}

.player-display {
    text-align: center;
    color: var(--purple);
}

.name, .score-display {
    font-size: 2rem;
}

.player-display .player-icon {
    font-size: 6rem;
    font-weight: 700;
}

.container {
    width: 100%;
}

.button-container {
    width: 100%;
    text-align: center;

    position: absolute;
    top: 80%;
    margin-top: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.button-container button{
    all: unset;
    
    width: 50px;
    height: 50px;

    background-color: var(--purple);
    border-radius: 30%;

    transition: all 0.2s ease;
}

.button-container button:hover {
    transform: scale(1.1);
}