@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

*{
    font-family: "DynaPuff", 'Times New Roman', Times, serif;
}

:root {
    --purple: #57305A;
    --blue: #2D90B8;
    --pink: #C7727B;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: rgb(225,225,204);
    background: linear-gradient(180deg, rgba(225,225,204,1) 0%, rgba(173,174,157,1) 100%);
}

#board {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -250px;
}

.cell {
    font-size: 6rem;
    font-weight: 700;
    font-style: itali;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    border-bottom: 5px solid var(--purple);
    border-right: 5px solid var(--purple);
}

.cell:nth-of-type(9), .cell:nth-of-type(8), .cell:nth-of-type(7) {
    border-bottom: none;
}

.cell:nth-of-type(3), .cell:nth-of-type(6), .cell:nth-of-type(9) {
    border-right: none;
}

.pink {
    color: var(--pink);
}

.blue {
    color: var(--blue);
}